@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', 'sans-serif';
}
#body{
    display:block;
}
.Light-modee{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0) ;
}
.button{
    float: right;
    margin-top: 170px;
    padding: 10px 15px;
    font-weight: bold;
}
.h-body{
    background-color:rgb(45, 42, 42) ;
    color: rgb(245, 243, 243);
}
.all{
    padding: 10px 0px 50px 30px;
    text-align: center;
}
div .movie1 .t1 td, div .movie1 .t1 th ,div .movie1 .t1{
    border-bottom: 1px solid rgb(152, 151, 151);
    text-align: left;
}

div .movie1 .t1{
    border-collapse: collapse;
    width: 50%;
}
div .movie1 .t1 td, div .movie1 .t1 th {
    padding: 15px;
}

div .movie2 .t2 td, div .movie2 .t2 th ,div .movie2 .t2{
    border-bottom: 1px solid rgb(152, 151, 151);
    text-align: left;
}

div .movie2 .t2{
    border-collapse: collapse;
    width: 50%;
}
div .movie2 .t2 td, div .movie2 .t2 th {
    padding: 15px;
}

div .movie3 .t3 td, div .movie3 .t2 th ,div .movie3 .t3{
    border-bottom: 1px solid rgb(152, 151, 151);
    text-align: left;
}

div .movie3 .t3{
    border-collapse: collapse;
    width: 50%;
}
div .movie3 .t3 td, div .movie3 .t3 th {
    padding: 15px;
}
div .movie4 .t4 td, div .movie4 .t4 th ,div .movie4 .t4{
    border-bottom: 1px solid rgb(152, 151, 151);
    text-align: left;
}

div .movie4 .t4{
    border-collapse: collapse;
    width: 50%;
}
div .movie4 .t4 td, div .movie4 .t4 th {
    padding: 15px;
}
div .movie5 .t5 td, div .movie5 .t5 th ,div .movie5 .t5{
    border-bottom: 1px solid rgb(152, 151, 151);
    text-align: left;

}
    div .movie5 .t5{
    border-collapse: collapse;
    width: 50%;
}
div .movie5 .t5 td, div .movie5 .t5 th {
    padding: 15px;
}
div .movie1 h1{
    padding: 10px 0px 0px 550px;
}
div .movie2 h1{
    padding: 10px 0px 0px 550px;
}

div .movie3 h1{
    padding: 10px 0px 0px 650px;
}
div .movie4 h1{
    padding: 10px 0px 0px 250px;
}
div .movie5 h1 ,div .movie5 h2 {
    padding: 10px 0px 0px 150px;
    background-color: #3a6cf4;
    text-align:center;
    text-decoration:none;
    border-radius:180px 505px;
}
div .movie5 h1:hover , div .movie5 h2:hover{
    background-color: #5861be;
	color:rgb(228, 217, 217);
	border-radius: 180px 500px;
}
div .movie4 h1 ,div .movie4 h2 {
    padding: 10px 0px 0px 150px;
    background-color: #3a6cf4;
    text-decoration:none;
    border-radius:180px 505px;
}
div .movie4 h1:hover , div .movie4 h2:hover {
    background-color: #5861be;
	color:rgb(228, 217, 217);
	border-radius: 180px 500px;
}
div .movie3 h1,div .movie3 h2 {
    padding: 10px 0px 0px 150px;
    background-color: #3a6cf4;
    text-align:center;
    text-decoration:none;
    border-radius:180px 505px;
}
div .movie3 h1:hover, div .movie3 h2:hover {
    background-color: #5861be;
	color:rgb(228, 217, 217);
	border-radius: 180px 500px;
}
div .movie2 h1 ,div .movie2 h2 {
    padding: 10px 0px 0px 150px;
    background-color: #3a6cf4;
    text-align:center;
    text-decoration:none;
    border-radius:180px 505px;
}
div .movie2 h1:hover , div .movie2 h2:hover {
    background-color: #5861be;
	color:rgb(228, 217, 217);
	border-radius: 180px 500px;
}
div .movie1 h1 , div .movie1 h2{
    padding: 10px 0px 0px 150px;
    background-color: #3a6cf4;
    text-align:center;
    text-decoration:none;
    border-radius:180px 505px;
}
div .movie1 h1:hover ,div .movie1 h2:hover {
    background-color: #5861be;
	color:rgb(228, 217, 217);
	border-radius: 180px 500px;
}
h2{
    padding: 10px 0px 0px 150px;
    background-color: #3a6cf4;
    text-align:center;
    text-decoration:none;
    border-radius:180px 505px;
}
h2:hover { 
    background-color: #5861be;
	color:rgb(228, 217, 217);
	border-radius: 180px 500px;
}
#img1{
    width: 500 px;
}
div .fram{
    border: 2px solid #3a6cf4;
    border-radius: 12px;
    padding: 5px;
    letter-spacing: 1.5px;  
    line-height: 1.6;
}




.footer {
    background-color: #1a1a1a;
    padding:10px;
    text-align: center;
    width: 100%;
  }
  .fa {
    padding: 15px;
    font-size: 15px;
    width:15px;
    text-align: center;
    text-decoration: none;
    border-radius:20%;
  }
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: red;
    color: white;
  }
  .fa-youtube {
    background: red;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-copyright {
    color:white;
  }
  .fa-heart {
    color:red;
  }
  p.h{
    color: white;
  }
  div.f{
    background-color: #000;
  }







/* nav */
  .shoof-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
  
  }
  .main-left-sec img{
    width: 90px;
  }
  .shoof-header .main-mid-sec input{
    height: 20px;
    padding: 5px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #3a6cf4;
    border-radius: 10px;
    background: none;
    color:white ;
    width: 300px;
    height: 30px;
    /* cursor: pointer; */
  }
  .shoof-header .main-mid-sec button{
    border: 0;
    background-color: rgb(0,0, 0,0.1);
    border-radius: 15px;
    cursor: pointer;
    color: #3a6cf4;
    font-size: 20px;
  }
  
  .shoof-header .main-right-sec{
    display: flex;
    align-items: center;
    margin-right: 5px;
    color:#3a6cf4 ;
    cursor: pointer;
  }
  .shoof-header .main-right-sec i{
    font-size: 25px;
  }
  .shoof-header .main-right-sec span{
    margin-right: 4px;
    font-size: 30px;
  }