*{
  margin: 0%;
  padding: 0%;
}
body{
background-color: #1f1f1f;
}
.mainAvengers{
  padding: 10px;
  background-color: #1f1f1f;
}

::-webkit-scrollbar{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: rgb(76, 84, 197);
  border-radius: 5cm;
  border: 1px solid rgb(76, 84, 197);
}
.mv{
  align-items:center;
  background-color: rgba(0, 0, 0, 0.295);
  color: white;
  font-family:'poppins', sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 20px;
  margin: 5px;
  padding: 5px;
}
.material-icons{
font-size: 18px;
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
}
.inline-icon {
vertical-align: bottom;
}

.poster{
height: 350px;
margin-bottom: 10px;
}
.mvName{
color: rgb(52, 172, 116);
border: 2px; 
margin: 20px;
padding: 20px;
font-family: 'poppins', sans-serif;

}
.mvName2{
color: rgb(76, 84, 197);
margin: 20px;
padding: 20px;
text-align: left;
width: 98%;
}
.summ{
margin: 5px;
padding: 20px;
background-color: rgb(231, 196, 41);
border-radius: 25px;
font-family: 'poppins', sans-serif;
color: #1f1f1f;
}
.actors{
  border-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin: 10px;
}
.actors td{
width:2000px;
}
.actors img{
border-radius:50%;
width: 100px;
height: 100px;
}
.vidAvengers{
  height: 350px;
}
.pImage{
  height: 350px;
}
.hmedia{
  display: flex;
  flex-direction: row;
}


.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.295);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
}
.title{
    text-align: center;
    font-family:'poppins', sans-serif;
    font-weight: 600;
    color: white;
    margin: 8px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
