aside.hary{
  width: 420px;
  height: 1650px;
  float: left;
  background-color:#94acec ;
   border:5px solid #2f2f30 ;
  
  margin: 5px; ; 
}
video{
float:right;
}
.wimg{
  width: 420px; ;
  height: 230px; ;
}
body{
  background-color: black;
  
}
.we{
float: right;
width: 500px;
height: 250px;
margin: 350px;
margin-top: 50px;
margin-bottom: 270px; 
}
body{
  background-image: url("../media2/harry potter/login-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.wa{
width:420 ; 

}
.he{
  width: 450px;
  height: 70px ;
  border-radius: 10px ;
  font-size: 50px;
  text-align: center;
  background-color:#3a6cf4 ;
  margin-top:10px ;
  margin-bottom: 15px;
  margin-left:140px ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black ;
}
.pp{
  font-size: 18px;
  color: white;
 margin-right: -300px;
 margin-left: 250px;
 margin-top: 30px;
}
.pp a:link{
  text-decoration: underline;
  background-color: #3a6cf4;
  padding: 15px 15px;
  text-align: center;
 

}

.bacg{
    background-color: rgb(92, 88, 83);
   
}
.footer-harrypotter {
  
  padding:10px;
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  margin-top:190%;
}
.fa {
  padding: 15px;
  font-size: 15px;
  width:15px;
  text-align: center;
  text-decoration: none;
  border-radius:20%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: red;
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-copyright {
  color:white;
}
.fa-heart {
  color:red;
}
p.h{
  color: white;
}
div.f{
  background-color: #000;
}