*{
    margin: 0%;
    padding: 0%;
}
body{
  background-color: #1f1f1f;
}
.mainAvengers{
      padding: 10px;
      background-color: #1f1f1f;
      margin-left: 160px;

}
/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 160px; 
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: rgba(255, 255, 255, 0.075); 
  overflow-x: hidden; 
  padding-top: 20px;
  border-radius: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #5a82cc;
  display: block;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
}

.sidenav a:hover {
  color: rgb(52, 172, 116)
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}
.mv{
    align-items:center;
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
    font-family:'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 20px;
    margin: 5px;
    padding: 5px;
}
.material-icons{
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.inline-icon {
  vertical-align: bottom;
}

.poster{
  height: 350px;
  margin-bottom: 10px;
}
.mvName{
  color: rgb(52, 172, 116);
  border: 2px; 
  margin: 20px;
  padding: 20px;
  font-family: 'poppins', sans-serif;
  
}
.mvName2{
  color: rgb(76, 84, 197);
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: 98%;
}
::-webkit-scrollbar{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: rgb(52, 172, 116);
  border-radius: 5cm;
  border: 1px solid rgb(52,172,116);
}
.summ{
  margin: 5px;
  padding: 20px;
  background-color: rgb(76, 84, 197);
  border-radius: 25px;
  font-family: 'poppins', sans-serif;
}
.actors{
    border-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin: 10px;
}
.actors td{
  width:2000px;
}
.actors img{
  border-radius:50%;
  width: 100px;
  height: 100px;
}
.vidAvengers{
    height: 350px;
}
.hmedia{
    display: flex;
    flex-direction: row;
    height: 350px;
}

.dark-mode {
    background-color: rgb(43, 43, 43);
    color: rgb(76, 84, 197);
  }
.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.295);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
    z-index: 2;
}
  
.go-top.active {
    opacity: 1;
    visibility: visible;
}
.title{
      text-align: center;
      font-family:'poppins', sans-serif;
      font-weight: 600;
      color: white;
      margin: 8px;
}
